@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
  --blue: #082B6D;
  --lightBlue: #3C89CD;
  --darkBlue: #050D20;
  --primary: #FF5C00;
  --hoverPrimary: #da5001;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul, li {
  list-style: none;
}

.text-align-items-center {
  display: flex;
  align-items: center;
}

.main-content {
  background-color: #E5E9ED;
  width: 85vw;
  padding: 20px;
  height: 92vh;
}

@media (max-width: 767px) {
  .main-content {
    width: 100vw;
    padding: 20px;
  }
}

