@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
  --blue: #082B6D;
  --lightBlue: #3C89CD;
  --darkBlue: #050D20;
  --primary: #FF5C00;
  --hoverPrimary: #da5001;
}

*{
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul, li {
  list-style: none;
}


.text-menu {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #828282;
  &:hover{
      color: #000;
  }
  &.active {
      color: #000;
      border: none;
      position: relative;

      span {
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: 0px;
          left: 45%;
      }
  }
}

.logo {
  font-size: 26px;
  color: var(--blue);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  height:  50px;
}

.text-align-items-center {
  display: flex;
  align-items: center;
}

#leftMenu {
  height: 92vh;
  // background: linear-gradient(to bottom, $darkBlue, $lightBlue);
  background-color: var(--blue);
  
  color: #fff;
  padding: 20px;
}

